html {
  scroll-behavior: smooth;
}
body {
  font-family: "Artifika";
}
.wrapper {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}
.welcome {
  width: 100%;
  display: grid;
  grid-template-rows: 90vh 10vh;
}
.welcome .my-intro {
  background-image: url(./image/artificial-intelligence-blur-close-up-546819.jpg);
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}
.welcome h2 {
  font-size: 3em;
  font: bolder;
  padding: 0;
  margin: 0;
  color: white;
}
.welcome span {
  color: red;
}
.welcome .first-btn {
  background-color: inherit;
  padding: 20px 40px;
  margin-top: 10px;
  font-size: 1em;
  font-family: "Artifika";
  border: 1px solid white;
}
.welcome .first-btn a {
  text-decoration: none;
  color: white;
}

.welcome .nav-bar {
  background-color: gray;
  margin-top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.welcome .nav-bar ul {
  display: flex;
  padding: 0px;
  align-items: center;
}
.welcome .nav-bar li {
  list-style: none;
  padding-right: 12px;
  padding-left: 12px;
  font-size: 1.5em;
  text-align: center;
}
.welcome .nav-bar li a {
  text-decoration: none;
  color: azure;
}
.welcome .nav-bar li a:hover {
  color: darkred;
}
h1 {
  margin-top: 5em;
  text-align: center;
}
hr {
  width: 3em;
  height: 0.2em;
  background-color: black;
  border: none;
}
.the-rest {
  width: 90%;
}

.about-me .content-of-div {
  max-height: 70vh;
  margin-bottom: auto;
}
.about-me .brief-intro {
  display: grid;
  grid-template-columns: 30% 70%;
  margin-top: 4em;
}
.about-me .brief-intro .my-image {
  display: grid;
  grid-template-rows: 60% 40%;
  text-align: center;
  margin-top: 0;
}
.about-me .brief-intro .my-image img {
  min-height: 100%;
  width: 100%;
}
.about-me .brief-intro .my-image .myname {
  margin-top: 1em;
}
.about-me .brief-intro .stack {
  display: grid;
  grid-template-rows: 16.6% 16.6% 16.6% 16.6% 16.6% 16.6%;
  margin-left: 20px;
  margin-right: 20px;
  padding-left: 20px;
  padding-right: 20px;
}
.about-me .brief-intro .stack h4 {
  text-align: center;
  font-size: 1.5em;
  margin-top: 0;
}
.range-space {
  height: 20px;
  width: 100%;
  border: 1px solid gray;
  background-color: rgba(128, 128, 128, 0.658);
  margin-left: 5px;
}
.flexible {
  height: 20px;
  width: 90%;
  background-color: rgba(137, 43, 226, 0.363);
}
.range-space span {
  float: right;
}
.html .flexible {
  width: 100%;
}
.css .flexible {
  width: 90%;
}
.vanilla .flexible {
  width: 90%;
}
.react .flexible {
  width: 85%;
}
.python .flexible {
  width: 60%;
}

.projects {
  height: auto;
}
.projects .gallery {
  display: grid;
  grid-template-columns: 33.3% 33.3% 33.3%;
  grid-template-rows: 50% 50%;
  width: 80%;
  margin: auto;
}
.projects .gallery img {
  min-height: 100%;
  width: 100%;
  opacity: 1;
  display: block;
  transition: 0.5s ease;
  backface-visibility: hidden;
}
.projects .gallery .image-container {
  position: relative;
  display: flex;
  flex-flow: center;
  justify-content: center;
  align-items: center;
  background-color: rgba(137, 43, 226, 0.363);
  border-bottom-right-radius: 30%;
  border-top-left-radius: 30%;
  margin-bottom: 40px;
}
.middle {
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}
.image-container:hover img {
  opacity: 0;
}

.image-container:hover .middle {
  opacity: 1;
}

.text h3 {
  color: white;
  font-size: 1.5em;
}
.text span {
  color: red;
  font-size: 0.8em;
}
.text button {
  background-color: inherit;
  border: 1px solid purple;
  padding: 10px 20px;
  margin-top: 10px;
  font-size: 1em;
  font-family: "Artifika";
}
.text a {
  text-decoration: none;
  color: white;
}
.text button:hover {
  background-color: purple;
  color: white;
}

.contact {
  background-color: gray;
  margin-top: 50px;
  height: 40vh;
  border-top-left-radius: 30%;
  border-top-right-radius: 30%;
}
.contact h1 {
  padding-top: 30px;
}
.contact .how-to-contact {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}
.contact .contact-icons {
  display: flex;
  justify-content: space-evenly;
}
.contact .contact-icons i {
  padding: 12px;
  background-color: purple;
  margin: 20px;
  font-size: 1.5em;
  border-bottom-left-radius: 30%;
  color: white;
}

@media screen and (width: 768px) {
  .wrapper {
    max-width: 60vw;
  }
}

@media screen and (max-width: 768px) {
  .wrapper {
    width: 100%;
    margin: auto;
  }
  .about-me .brief-intro .my-image .myname {
    margin-top: auto;
  }
  .welcome h2 {
    font-size: 1em;
  }
  .welcome .first-btn {
    padding: 8px 16px;
    margin-top: 5px;
    font-size: 0.8em;
  }
  .welcome .my-intro {
    height: 100vh;
  }
  .welcome .nav-bar li {
    padding-right: 6px;
    padding-left: 6px;
    font-size: 0.8em;
    text-align: center;
    margin-left: 0;
  }
  .about-me .content-of-div {
    max-height: 70vh;
    margin-bottom: auto;
  }
  .about-me .brief-intro {
    display: flex;
    flex-flow: column;
  }
  .about-me .brief-intro .stack h4 {
    text-align: center;
    font-size: 1.5em;
    margin-top: 20px;
  }
  .projects .gallery {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 33.3% 33.3% 33.3%;
  }
  .text h3 {
    color: white;
    font-size: 0.8em;
  }
  .text span {
    color: red;
    font-size: 0.5em;
  }
  .text button {
    padding: 6px 12px;
    margin-top: 5px;
    font-size: 0.5em;
    font-family: "Artifika";
  }

  .contact {
    height: 30vh;
  }
  .contact .contact-icons i {
    padding: 7px;
    background-color: purple;
    margin: 5px;
    font-size: 0.8em;
    border-bottom-left-radius: 10%;
    color: white;
  }
}
